.aboutUs {
    background: rgba(227, 222, 215, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 44px 36px;
    gap: 8px;
    width: 100%;
    height: 600px;
    flex: none;
}

.aboutUs h1 {
    position: relative;
    display: flex;
    text-align: center;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-shadow: 15px;
    box-shadow: 5px;
    margin-left: 450px;
}

.aboutUs article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    width: 1200px;
    height: 500px;
    padding-left: 50px;
    padding-top: 44px;
}

.abaoutRow div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 523px;
    height: 450px;
    flex: none;
    flex-grow: 1;
}

.rowOne span {
    font-size: 18px;
    font-weight: 600;
}

.rowOne p {
    text-align: start;
    font-size: 14px;
}

.rowOne a {
    text-decoration: none;
}

.rowOne button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

.rowOne button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.rowOne button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.rowOne button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.imgRow img{
    width: 560px;
    height: 390px;
    border-radius: 10px;
}

.abaoutRow .imgRow{
    margin-bottom: 70px;
}