.App {
  text-align: center;
  --theme-sheet-width-xl: 1140px;
  --theme-sheet-width-lg: 940px;
  --theme-sheet-width-md: 720px;
  --theme-sheet-width-sm: 540px;
  --theme-sheet-width-xs: 340px;
  position: relative;
  display: block;
  font-size: 1rem;
  line-height: 1.6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}