.aboutUs {
    background: rgba(227, 222, 215, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 44px 36px;
    gap: 8px;
    width: 1280px;
    height: 600px;
    flex: none;
}

.aboutUs h1 {
    position: relative;
    display: flex;
    text-align: center;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-shadow: 15px;
    box-shadow: 5px;
    margin-left: 450px;
}

.aboutUs article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    width: 1200px;
    height: 500px;
    padding-left: 50px;
    padding-top: 44px;
}

.abaoutRow div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 523px;
    height: 450px;
    flex: none;
    flex-grow: 1;
}

.rowOne span {
    font-size: 18px;
    font-weight: 600;
}

.rowOne p {
    text-align: start;
    font-size: 14px;
}

.rowOne a {
    text-decoration: none;
}

.rowOne button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

.rowOne button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.rowOne button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.rowOne button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.imgRow img{
    width: 560px;
    height: 390px;
    border-radius: 10px;
}

.abaoutRow .imgRow{
    margin-bottom: 70px;
}

/* furniture */

.section4 {
    
    width: 1280px;
    height: auto;
    /* display: flex; */
    background-color: beige;
    box-shadow: cornsilk;
}

.section4 h1 {
    font-size: 35px;
    padding: 30px;
    margin-top: 3px;
}

.section4 .furnitureOne {
    padding: 30px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    gap: 40px;
}


.furnitureOne .AD {
    width: 570px;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
}

.AD img {
    width: 570px;
    height: 400px;
}

.furnitureOne .HowThis {
    width: 570px;
    height: 400px;
}

.HowThis {
    display: flex;
    flex-direction: column;
    content: normal;
    align-items: center;
    justify-content: center;
}

.HowThis h3 {
    font-size: 30px;
    padding: 5px;
}

.HowThis p {
    padding: 5px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
}

.HowThis button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-color: aquamarine;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.HowThis button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.HowThis button:active{
    transform: translateY(-1px);
}

.section4 .furnitureTwo {
    padding: 30px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    gap: 80px;
}

.furnitureTwo .TipsImportants {
    width: 570px;
    height: 400px;
}

.TipsImportants {
    display: flex;
    flex-direction: column;
    content: normal;
    align-items: center;
    justify-content: center;
}

.TipsImportants h3{
    font-size: 30px;
    padding: 5px;
}

.TipsImportants p{
    padding: 5px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
}

.TipsImportants button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-color: rgb(79, 102, 204);
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.TipsImportants button:hover {
    background-color: #234ec4;
    box-shadow: 0px 15px 20px rgba(46, 64, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.TipsImportants button:active{
    transform: translateY(-1px);
}

.furnitureTwo .ProductClean {
    width: 570px;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
}

.ProductClean img {
    width: 570px;
    height: 400px;
}
